# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\robbe\OneDrive\Documenten\Schooljaar 2020-2021\Tweede semester\Web2\Labo 2\r0839356_servlet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
